In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import OneHotEncoder
from sklearn.utils import resample
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import precision_score, recall_score, f1_score, classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import pickle

from sklearn import tree
import graphviz

pd.set_option('display.max_columns', 50)

In [2]:
data_preprocessed = pd.read_csv("data_BankFull.csv")

In [3]:
data_preprocessed.head()

,age,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,poutcome,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,is_divorced,is_married,is_single,contact_cellular,contact_telephone,contact_unknown,target
0,58,3,0,0.269645,1,0,5,5,0.011489,-0.569358,-0.411387,-0.30095,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,44,2,0,-0.453070,1,0,5,5,-0.417194,-0.569358,-0.411387,-0.30095,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
2,33,2,0,-0.462300,1,1,5,5,-0.709477,-0.569358,-0.411387,-0.30095,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,47,0,0,0.051873,1,0,5,5,-0.647124,-0.569358,-0.411387,-0.30095,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,33,0,0,-0.462642,0,0,5,5,-0.234029,-0.569358,-0.411387,-0.30095,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0

In [5]:
data_preprocessed.target.value_counts()

0    39918
1     5287
Name: target, dtype: int64

In [6]:
data_train, data_test = train_test_split(data_preprocessed, test_size = 0.2)

In [7]:
len(data_train)

36164

In [8]:
len(data_test)

9041

In [9]:
df_majority = data_train[data_train.target==0]
df_minority = data_train[data_train.target==1]

df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=30000,    # to match majority class
                                 random_state=123) # reproducible results

df_train_upsampled = pd.concat([df_majority, df_minority_upsampled])
df_train_upsampled.target.value_counts()

0    31938
1    30000
Name: target, dtype: int64

In [10]:
y_train = df_train_upsampled['target'].values
X_train = df_train_upsampled.iloc[:,:-1].values

In [12]:
y_test = data_test['target'].values
X_test = data_test.iloc[:,:-1].values

In [14]:
np.unique(y_test, return_counts=True)

(array([0, 1], dtype=int64), array([7980, 1061], dtype=int64))

In [13]:
dtModel = DecisionTreeClassifier()
dtModel.fit(X_train, y_train)
dtModel.score(X_test, y_test)

0.8806547948235814

In [15]:
finalDtModel = DecisionTreeClassifier(min_samples_split= 7, min_samples_leaf= 3, max_depth= 6)
finalDtModel.fit(X_train, y_train)
print(f"Final Test Acc : {finalDtModel.score(X_test, y_test)}")

Final Test Acc : 0.7950447959296538